set1/askisi2/primes
set1/askisi2/gen
set1/askisi1/askisi1.pptx
set1/askisi2/askisi2.pptx
set1/askisi2/askisi2.xlsx
set1/askisi1/pipes.c.bak
set1/askisi1/pipes.h.bak
set1/askisi3/dummy_sorted
set1/askisi3/dummy
set1/askisi3/askisi3.pptx
set1/askisi3/dummy
.vs